token: null

sharding {
  total: 1

  // inclusive
  start: 0

  // exclusive
  end: 1
}

# Console channel for Octave to post logs to.
console webhook: null

database {
  addr: "localhost"
  port: 28015
  name: "bot"
  user: "admin"
  pass: null
}

mal credentials {
  username: null
  password: null
}

server counts {
  carbonitex: null
  discordbots: null
  abal: null
}

sentry {
    pubDsn: ""
    # privDsn: ""
}

riot.apiKey: null
cat: null
imgflip: null
mashape: null